<h1 id="tableLabel">Rooms</h1>

<p>Rooms.</p>

<p *ngIf="!rooms"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="rooms">
  <thead>
    <tr>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Price Per Night</th>
      <th>Number Of Beds</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms">
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.pricePerNight }}</td>
      <td>{{ room.numberOfBeds }}</td>
    </tr>
  </tbody>
</table>
